# Игнорировать node_modules
node_modules/

# Игнорировать логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы окружения
.env
.env.local
.env.development
.env.production

# Игнорировать сборку
build/
dist/
out/
.next/

# Игнорировать системные файлы
.DS_Store